{{! For the demo, we want two columns:
    one with the code, and one with the result:
--}}
{{#if isDemo}}

  <td
    local-class="td"
    data-name={{name}}
  >
    {{spark-page/spark-options/options-table/column-value/css-code
      identifier=identifier
      options=columnValue
    }}
  </td>

  <td
    local-class="td"
  >
    {{#spark-page/spark-options/options-table/column-value/css-result
      identifier=identifier
      options=columnValue
    }}
      {{yield}}
    {{/spark-page/spark-options/options-table/column-value/css-result}}
  </td>

{{else}}

  <td 
    local-class="
      td
      {{if isCSSClass 'css-class'}}
      {{name}}
    "
    data-name={{name}}
  >
    {{{columnValue}}}
  </td>

{{/if}}
